@model Users

@{
    ViewData["Title"] = "Главная страница";

    Users user = new Users();
}

<div class="container">
    <div class="text-center">
        <h2 class="display-4">Добро пожаловать</h2>
        <h4 class="display-4">на прохождении теста</h4>
    </div>
    <div class="container-xl">
        <form asp-controller="Home" asp-action="Index" asp-route-id="@user.Id" method="post">
            <input asp-for="Id" value="@user.Id" hidden />
            <div class="form-group mb-3">
                <label for="first-name">Фамилия</label>
                <input asp-for="FirstName" class="form-control" id="first-name" placeholder="Введите фамилию..." required>
            </div>
            <div class="form-group mb-3">
                <label for="second-name">Имя</label>
                <input asp-for="SecondName" class="form-control" id="second-name" placeholder="Введите имя..." required>
            </div>
            <div class="form-group mb-3">
                <label for="last-name">Отчество</label>
                <input asp-for="LastName" class="form-control" id="last-name" placeholder="Введите отчество..." >
            </div>
            <div class="form-check d-flex mb-3">
                <div>
                    <label class="form-check-label" for="male" required>Мужской</label>
                    <input asp-for="Gender" type="radio" name="gender" id="male" value="Мужской" class="form-check-input">
                </div>
                <div class="ms-5">
                    <label class="form-check-label" for="female">Женский</label>
                    <input asp-for="Gender" type="radio" name="gender" id="female" value="Женский" class="form-check-input" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Начать тестирование</button>
        </form>
    </div>
</div>
